*{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow Condensed', sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
   
}
.navbar{
    display: flex;/* photode thaze indarnnathine photode sidil aakkum */
    justify-content: space-between;/* to creste space btn 2 children */
    width: 85%;
    margin-left: 100px;

align-items: center;
}
.logo{width: 100px;
}
.listitem{
    display: inline-block;
    list-style: none;
     margin: 5px 20px;
}
.anchor{
    text-decoration: none;
    color: black;
    font-weight: bold;
    

}
 /* psudo classes entengilum event nadakkumbe enthelum mattum varum */
/* tag:psudo-class{property} */
.anchor:hover{
    color: red;
}
.title{
    margin-left: 8%;
    margin-top: 13%;
}
.title-h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.lastname{
    color: orange;
}
.download{
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
}
.title-img{
    width: 45%;
    height: 50%;
    position: absolute;
    right: 30px; 
    bottom: 0px;
    padding-top: 250px;
}
.title-img img{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translatex(-50%);
    transition: bottom 1s,left 2s;
}
.title-img:hover #shape{
    bottom: 70px;

}
.title-img:hover #lady{
    left:40%;
}
#about{
    margin: 26% 8% 0px 8%;
}
.heading{
text-align: center;
}
   .heading span{
    font-size: 20px;
  color: orange; 
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);/* 1fr=255px */
    gap: 2rem;/* 1rem=16px */
    margin-top: 2rem;    
     
}
.about-img img{
    width: 80%;

}
.aboutdetails{
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
} 
.information{
    margin-top: 2rem;
}
.info-box{
    margin-top: 1rem;
    align-items: center;
    
}
#skills{
    margin: 8% 8% 0% 8%;
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.skill-img img{
    width: 80%;
    padding-left: 4rem;
    border: 2px solid;
}
.progress{
    border: 2px solid;
}
.bar-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 0px;
margin-bottom: 1rem;
position: relative;
}
.base-bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 0.5rem;
    position:absolute;
    bottom: 0px;
    left: 0px;
}
    
    
    